*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.nav{
    width: 100%;
    box-sizing: border-box;
}
.nav > div{
    width: 100%; box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px 20px 3px 20px ;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.nav > div > button{
    font-size: 30px;
    border: none;
    color: orangered;
    padding: 4px;
    border-radius: 3px;
}
.nav > div > button:hover{
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
}
.nav > div > div > img{
    width: 7%;
    margin: auto;
    display: flex;
}
.nav > div > a{
    color: orangered
}
.red{
    display: flex;
    gap: 10px;
}
.red > a > img{
    width: 40px;
}
.bar{
    background-color: rgb(239, 207, 63); 
}
.bar > a{
    padding: 5px;
    text-decoration: none;   
}
#total{
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}
#menu-container{
    width: 90%;
    margin: auto;
    display: grid;
    margin-top: 20px;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    justify-content: center;
    text-align: center;
}
#menu-container > div{
    width: 95%;
    margin: auto;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 20px;
} 
#menu-container > div > img{
    width: 100%;
    height: 200px;
}
#menu-container > div > p{
    margin-top: 15px;
    margin-bottom: 15px;
}
#menu-container > div > button{
    border: none;
    margin: 5px;
    padding: 6px 8px 6px 8px;
    border-radius: 4px;
    background-color: rgb(239, 89, 35);
    margin-top: 15px;
}
#menu-container > div > button:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}